<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Running Platform">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2024-12/202412041000/"/>
			<unit id="org.eclipse.sdk.feature.group" version="4.34.0.v20241120-1800"/>
		</location>
		<location includeDependencyDepth="infinite" includeDependencyScopes="compile,provided,runtime,system,import" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.networknt</groupId>
					<artifactId>json-schema-validator</artifactId>
					<version>1.5.8</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>io.modelcontextprotocol.sdk</groupId>
					<artifactId>mcp</artifactId>
					<version>0.11.1</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>