<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.hetzge.eclipse.aicoder.AiCoderStartup">
      </startup>
   </extension>

	<extension point="org.eclipse.ui.commands">
  <command
        categoryId="de.hetzge.eclipse.codestral.commands.inlineCompletion"
        id="de.hetzge.eclipse.codestral.commands.toggleMultiline"
        name="Multiline Completion">
     <state
           class="org.eclipse.jface.commands.ToggleState"
           id="org.eclipse.ui.commands.toggleState">
     </state>
  </command>
		<category
        id="de.hetzge.eclipse.codestral.commands.inlineCompletion"
        name="AI Code Completion">
  </category>
		<command
			categoryId="de.hetzge.eclipse.codestral.commands.inlineCompletion"
			name="Trigger Inline Completion"
			id="de.hetzge.eclipse.codestral.commands.inlineCompletion.trigger">
		</command>
		<command
			categoryId="de.hetzge.eclipse.codestral.commands.inlineCompletion"
			name="Accept Inline Completion"
			id="de.hetzge.eclipse.codestral.commands.inlineCompletion.accept">
		</command>
		<command
			categoryId="de.hetzge.eclipse.codestral.commands.inlineCompletion"
			name="Dismiss Inline Completion"
			id="de.hetzge.eclipse.codestral.commands.inlineCompletion.dismiss">
		</command>
  <command
        id="de.hetzge.eclipse.codestral.commands.triggerInstruction"
        name="Trigger Instruction">
  </command>
	</extension>

	<extension point="org.eclipse.ui.handlers">
		<handler
			class="de.hetzge.eclipse.aicoder.handler.TriggerHandler"
			commandId="de.hetzge.eclipse.codestral.commands.inlineCompletion.trigger">
		</handler>
		<handler
			class="de.hetzge.eclipse.aicoder.handler.AcceptHandler"
			commandId="de.hetzge.eclipse.codestral.commands.inlineCompletion.accept">
		</handler>
		<handler
			class="de.hetzge.eclipse.aicoder.handler.DismissHandler"
			commandId="de.hetzge.eclipse.codestral.commands.inlineCompletion.dismiss">
		</handler>
  <handler
        class="de.hetzge.eclipse.aicoder.handler.ToggleMultilineHandler"
        commandId="de.hetzge.eclipse.codestral.commands.toggleMultiline">
  </handler>
  <handler
        class="de.hetzge.eclipse.aicoder.handler.TriggerInstructionHandler"
        commandId="de.hetzge.eclipse.codestral.commands.triggerInstruction">
  </handler>
	</extension>

	<extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="de.hetzge.eclipse.codestral.commands.inlineCompletion.trigger"
          contextId="org.eclipse.ui.textEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M2+SPACE">
    </key>
    <key
          commandId="de.hetzge.eclipse.codestral.commands.inlineCompletion.accept"
          contextId="de.hetzge.eclipse.codestral.inlineCompletionVisible"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="TAB">
    </key>
    <key
          commandId="de.hetzge.eclipse.codestral.commands.inlineCompletion.dismiss"
          contextId="de.hetzge.eclipse.codestral.inlineCompletionVisible"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="ESC">
    </key>
    <key
          commandId="de.hetzge.eclipse.codestral.commands.triggerInstruction"
          contextId="org.eclipse.ui.textEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M2+1">
    </key>
 </extension>

	<extension point="org.eclipse.ui.contexts">
		<context
			id="de.hetzge.eclipse.codestral.inlineCompletionVisible"
			name="Inline Completion Visible"
			description="Inline completion visible"
			parentId="org.eclipse.ui.textEditorScope">
		</context>
	</extension>
 <extension
       point="org.eclipse.ui.views">
    <category
          id="de.hetzge.eclipse.aicoder"
          name="AI Coder">
    </category>
    <view
          category="de.hetzge.eclipse.aicoder"
          class="de.hetzge.eclipse.aicoder.ContextView"
          icon="icons/icon16.png"
          id="de.hetzge.eclipse.aicoder.ContextView"
          inject="true"
          name="AI Coder Context">
    </view>
    <view
          category="de.hetzge.eclipse.aicoder"
          class="de.hetzge.eclipse.aicoder.AiCoderHistoryView"
          icon="icons/icon16.png"
          id="de.hetzge.eclipse.aicoder.AiCoderHistoryView"
          inject="true"
          name="AI Coder History">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaPerspective">
       <view
             id="de.hetzge.eclipse.aicoder.ContextView"
             ratio="0.5"
             relationship="right"
             relative="org.eclipse.ui.views.ProblemView">
       </view>
       <view
             id="de.hetzge.eclipse.aicoder.AiCoderHistoryView"
             ratio="0.5"
             relationship="stack"
             relative="de.hetzge.eclipse.aicoder.ContextView">
       </view>
    </perspectiveExtension>
 </extension>
 <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="de.hetzge.eclipse.aicoder.preferences.AiCoderPreferencePage"
           id="de.hetzge.eclipse.aicoder.preferences"
           name="AI Coder">
     </page>
     <page
           category="de.hetzge.eclipse.aicoder.preferences"
           class="de.hetzge.eclipse.aicoder.preferences.GeneralPreferencePage"
           id="de.hetzge.eclipse.aicoder.preferences.general"
           name="General">
     </page>
     <page
           category="de.hetzge.eclipse.aicoder.preferences"
           class="de.hetzge.eclipse.aicoder.preferences.ContextPreferencePage"
           id="de.hetzge.eclipse.aicoder.preferences.context"
           name="Context">
     </page>
     <page
           category="de.hetzge.eclipse.aicoder.preferences"
           class="de.hetzge.eclipse.aicoder.preferences.ProviderPreferencePage"
           id="de.hetzge.eclipse.aicoder.preferences.provider"
           name="Provider">
     </page>
     <page
           category="de.hetzge.eclipse.aicoder.preferences"
           class="de.hetzge.eclipse.aicoder.preferences.McpPreferencePage"
           id="de.hetzge.eclipse.aicoder.preferences.mcp"
           name="MCP">
     </page>
  </extension> 
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="de.hetzge.eclipse.aicoder.preferences.AiCoderPreferences">
    </initializer>
 </extension>
</plugin>
